﻿@model BiiMoInc.Models.View.PurchaseOrder.Create

@{
    
<div class="card bucket-group-drop-zone">
    <div class="order-card-header">
        <div class="row">
            <div class="col-md-8 text-left">
                <span><i class="fas fa-shopping-basket fa-2x"></i></span>&emsp;
                <span class="text-center">Purchase Order</span>
            </div>
            <div class="col-md-4 text-right">
                @DateTime.Now.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
    <div class="order-card-body bucket-group-body"></div>

</div>
}
