﻿@model BiiMoInc.Models.View.PurchaseOrder.UserPurchaseOrder

<div class="article card">
    <div class="card-header">

        <div class="row">
            <div class="col-9 text-left">
                <h5>
                    <span><i class="fas fa-truck"></i></span>&emsp;
                    <a href="#">
                        @Model.Supplier Supplier
                    </a>|<span class='article-status'>@Model.Status</span>
                </h5>
            </div>
            <div class="col-3 text-right">
                @Model.DateCreated.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
    <div class="card-body">

        <p>Total Unit Quatity : @Model.TotalQuatity</p>
        <p>Total Value : R @Model.TotalValue</p>
        <p class='article-date'>
            @Model.DateCreated

            <span class='article-icon'></span>
        </p>
    </div>

</div>


