﻿@model BiiMoInc.Models.View.PurchaseOrder.Create

@{
    <div class="card stock-group-drop-zone center">
        <div class="order-card-header">
            <div class="row">
                <div class="col-md-1 text-left">
                    <span><i class="fas fa-truck fa-2x"></i></span>&emsp;
                </div>
                <div class="col-md-11 text-right">
                    <div class="form-group" id="div-@Html.IdFor(m=>m.SupplierId)">
                        @Html.DropDownListFor(model => model.Id, Model.Suppliers, new {@name="suppliers" ,@style = "height:40px;", @class = " form-control supplier-selector" })
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="order-card-body stock-group-body">
            @foreach (var item in Model.StockedItems)
            {
                <div class="draggable-item item nonselectable-text order-text" name="draggable-item" id="@item.ProdId">
                    <span class="fas fa-bars span-handle"></span>&emsp;
                    <span> @Html.DisplayFor(model => item.Name)</span>&emsp;
                    <span>
                        <label>@Html.DisplayNameFor(model => item.UnitPrice): <i class="unit-price">@item.UnitPrice</i></label>
                    </span>&emsp;
                    <span>
                        <label>@Html.DisplayNameFor(model => item.Quantity): <i class="unit-quantity=">@item.Quantity</i></label>
                    </span>&emsp;

                    <div class="form-group">
                        
                            <span class="fas fa-box span-handle"></span>
                            &emsp;
                            <label>No Products:</label>
                            @Html.EditorFor(model => item.RequestedQuantiy, new { htmlAttributes = new {@placeholder = "Number of Units", @max = item.Quantity, @min = 0, @class = "request-qty form-control" } })
                            &emsp;
                            <label>Total Cost: R <i class="total-cost"></i></label>
                        
                    </div>
                </div>
            }
        </div>
    </div>
}