﻿@model BiiMoInc.Models.View.PurchaseOrder.Create
@{
    ViewData["Title"] = "Create Order";
}


<div style="margin-left:-20%;width: 150%;" class=" form-horizontal">
    <h1>Order</h1>

    <hr />
    <div class="layer-group-container form-group">
        <div>
            <partial name="_Stock" for="@Model" />
        </div>
        <div>
            <partial name="_Bucket" />
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4">
                <input type="button" value="Send" onclick="submitForm();" class="btn btn-primary float-right" />
            </div>
        </div>


    </div>
</div>
@section Scripts {


    <script src='@Html.Raw("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/draggable.js")'></script>
    <!-- Sortable only -->
    <script src='@Html.Raw("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/sortable.js")'></script>
    <!-- Droppable only -->
    <script src='@Html.Raw("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/droppable.js")'></script>
    <script>
        const getSupplierProductsUrl = "@Url.Action("GetSupplierProducts")"
        const purchaseOrderId = "@Model.Id";
        

        const containers = document.querySelectorAll('div.stock-group-body,div.bucket-group-body');
        const sortable = new Sortable.default(containers, {
            draggable: ".draggable-item",
            handle:".span-handle"
        });
        

        $("select.supplier-selector").change(function ()
        {
            let supplierId = $(this).val();
            $("div.stock-group-body").fadeOut().empty();
            $("div.bucket-group-body").empty();
            setSupplierProducts(supplierId);
        });
        
        $("input.request-qty").change(function () {

            let input = $(this);
            let unitPrice = input.closest("i.unit-price").attr("html");
            //TODO dynamically change values
            input.closest("i.unit-quantity").attr("html",calculateRemainingStock(input.val()));
            input.closest("i.total-cost").attr("html", calculateTotalCost(input.val(), unitPrice));
        });

        function calculateTotalCost(value, unitPrice) {
            return value * unitPrice;
        }

        function calculateRemainingStock(value) {
            return value;
        }

        function setSupplierProducts(supplierId)
        {
            $.getJSON(
                getSupplierProductsUrl,
                { supplierId: supplierId},
                function (productList) {
                    appendProductsToStock(productList)
                }
            );
        }

        function submitForm() {

            const form = $("<form>", {
                method: 'post',
                action: '@Url.Action("CreatePurchaseOrder")',
                style: 'display:none;'
            });

            $('div.draggable-item').each(function (index) {

                let productId = $(this).attr('id');
                let supplierId = $("select.supplier-selector").val();
                let qtyOfProduct = $(this).find("input.request-qty.form-control").val();
                
                if (productId != null && qtyOfProduct > 0) {
                    let orderList = `${purchaseOrderId}|${supplierId}|${productId}|${qtyOfProduct}`;
                    form.append("'<input type='hidden' name='orderList' value='" + orderList + "' />'");
                }
            });
            form.appendTo("body");
            form.submit();
        }

        function appendProductsToStock(productList) {
            let stockBody = $("div.stock-group-body");
            productList.map(a =>
            {
                stockBody.fadeIn().append(`
                     <div class="draggable-item item nonselectable-text order-text" name="draggable-item" id="${a.prodId}">
                    <span class="fas fa-bars span-handle"></span>&emsp;
                    <span>${a.name}</span>&emsp;
                    <span>
                        <label>Unit Price: <i class="unit-price">${a.unitPrice}</i></label>
                    </span>&emsp;
                    <span>
                        <label>Quantity: <i class="unit-quantity=">${a.quantity}</i></label>
                    </span>&emsp;

                    <div class="form-group">
                        <div>
                            <span class="fas fa-box span-handle"></span>
                            &emsp;
                            <label>No Products:</label>
                            <input placeholder = "Number of Units" type="number" min="0" max="${a.quantity}" class="request-qty form-control"/>
                            &emsp;
                            <label>Total Cost: R <i class="total-cost"></i></label>
                        </div>
                    </div>
                </div>`)
            })
        }
    </script>
}