﻿@model BiiMoInc.Models.View.PurchaseOrder.Index
@{
    ViewData["Title"] = "Purchase Order";
}
<div class="container">


    <div class="row">
        <div class="col-6 float-left">
            <h1>Purchase Orders</h1>
            <p class='order-count'>Number of Purchase Orders: @Model.PurchaseOrders.Count</p>
        </div>
        <div class="col-6">
            <a class="float-right btn btn-lg btn-link btn-secondary" asp-action="Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>

    <hr />

    <div class='container' style="overflow: hidden;">
        <div class="container-time-line">
            @if (Model.PurchaseOrders.Any())
            {

                @foreach (var item in Model.PurchaseOrders)
                {
                    <div class='timeline'>
                        <span class='dot'></span>
                        <form asp-action="Details">
                            <partial name="_Order" for="@item" />
                        </form>
                    </div>
                }
            }
            else
            {
                <p>No records found.</p>
            }
        </div>
    </div>

</div>
