﻿@model BiiMoInc.Models.View.Stock.Create

@{
    ViewData["Title"] = "Create: Stock";
}
<link href="~/css/customcreatecard.css" rel="stylesheet" />
<div class="card-create card-container card" style="height:500px; margin-top: auto;">
    <div class="card-header create-card-header center">
        <h1>Create</h1>

    </div>
    <div class="card-body center container" style="height">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="div-@Html.IdFor(m=>m.SupplierId)">
                @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownListFor(model => model.SupplierId, Model.Suppliers, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="div-@Html.IdFor(m=>m.ProductId)">
                @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.DropDownListFor(model => model.ProductId, Model.Products, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:0;padding-top:6%">
                <input type="submit" value="Create" class="float-right btn btn-primary" />
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }
        <div class="center">@Html.ActionLink("Back to List", "Index", null, new { @class = "float-left btn btn-link" })</div>
    </div>
    
</div>


