﻿@model BiiMoInc.Models.View.Stock.Edit

@{
    ViewData["Title"] = "Edit: Stock";
}
<link href="~/css/customcreatecard.css" rel="stylesheet" />
<div class="card-create card-container card" style="height:500px; margin-top: auto;">
    <div class="card-header create-card-header center">
        <h1>Edit</h1>

    </div>
    <div class="card-body center container" style="height">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.SupplierId)
            <div class="form-group" >
                <div class="row form-group">
                    <b class="col-sm-3">Supplier : </b>
                    <i class="col-sm-9">@Model.Supplier</i>
                </div>
                <div class="row">
                    <b class="col-sm-3">Product : </b>
                    <i class="col-sm-9">@Model.Product</i>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin:0;padding-top:6%">
                <input type="submit" value="Edit" class="float-right btn btn-primary" />
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }
        <div class="center">@Html.ActionLink("Back to List", "Index", null, new { @class = "float-left btn btn-link" })</div>
    </div>

</div>


