﻿@model BiiMoInc.Models.View.Stock.Index

@{
    ViewData["Title"] = "Stock";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="gridTable" class="table table-striped table-bordered cell-border stripe" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stock)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    R @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { supplierId = item.SupplierId, productId = item.ProductId }) 
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            $("#gridTable").DataTable({
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [2]
                }]
            });

        });
    </script>
}
