﻿/* Custom Create Card
-------------------------------------------------- */
.card-container.card {
    max-width: 620px;
    max-height: 500px;
}

.card-create {
    background-color: rgba(255, 255, 255, 0.24);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.create-input-form {
    width: 400px;
    z-index: 1;
    position: relative;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.create-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-align: center;
}

.btn-container {
    padding: 10%;
    margin-top: 5%;
    text-align: center;
}

.input-icon-position {
    margin-top: 0.5%;
    padding-right: 55px;
}

/* Custom Create Card End */
