﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom Nav
-------------------------------------------------- */
.nav-text-size {
    font-size: 20px !important;
    text-transform: capitalize;
}

/* Custom Card
-------------------------------------------------- */
.current {
    outline: none;
    box-sizing: border-box;
}

.container-time-line {
    overflow-x: hidden;
    overflow-y: auto;
    height:450px;
    width:108%;
}

.timeline {
    position: relative;
    border-left: 1px solid rgb(44, 148, 218);
    width:92%;
}

.date, .order-count {
    display: inline-block;
    border: 1px solid rgba(201, 197, 197, 0.575);
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: 15px;
    margin: 15px 0;
}

.data::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    border: 1px solid black;
    width: 14px;
}

.article {
    position: relative;
    left: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 4%;
    border: rgba(201, 197, 197, 0.575);
}

    .article:hover {
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.5);
    }

.article-date {
    font-weight: 400;
    font-size: 14px;
}

.article-icon {
    margin-left: 21em;
}

.article-status {
    margin-left: 1em;
}

.dot {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #005495;
    left: -5.5px;
    top: calc(50% - 5px);
}

/* Custom Card End
-------------------------------------------------- */
