﻿/* Start: Layer Group */
.draggable-item:hover {
    background-color: #0094ff;
    color: #fff;
}

.draggable-item > .span-handle {
    margin-right: 5px;
}

.draggable-item {
    cursor: grab;
    background-image: linear-gradient(to right,black 45%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    
   
}
.item {
    padding: 5px;
}

.order-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stock-input{
    width:150px;
}

.supplier-selector {
    height: 40px;
    font-size: 1.5em;
}

.bucket-group-body,
.stock-group-body {
    height: calc(100% - 45px);
    margin-top: -20px;
    margin-left: -6px;
    font-size: 1.5em;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.stock-group-drop-zone,
.bucket-group-drop-zone {
    border: solid 2px rgba(0, 0, 0, 0.17);
    width: 45%;
    padding-bottom: 15px;
    height: 450px;
}

.stock-group-drop-zone {
    float: left;
    overflow: hidden;
}

.bucket-group-drop-zone {
    margin-left: 50%;
    margin-bottom: 4px;
}

.nonselectable-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.order-card-header {
    height: 80px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.17);
    padding: 29px;
}

.order-card-body {
    padding: 29px;
    height: 321px;
    width: 106%;
    position: static;
    margin-top: auto;
    margin-left: -15px;
}
.draggable-mirror
 {
    z-index:4;
    background-color:rgba(211, 212, 212, 0.80);
}
.layer.draggable-source--is-dragging,
.layer-state.draggable-source--is-dragging {
    box-shadow: 0 1px 5px 0 grey;
    transform: rotateZ(-1deg);
}
