@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav mr-auto nav-text-size">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item active">
        <a class="nav-text-size nav-link btn btn-link text-dark" asp-area="" asp-controller="Stock" asp-action="Index">Stock</a>
    </li>
        <li class="nav-item">
            <a class="nav-text-size nav-link btn btn-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a>
        </li>
        <li class="nav-item">
            <a class="nav-text-size nav-link btn btn-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-text-size nav-link btn btn-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="Index">Purchase Orders</a>
        </li>
        <li class="nav-item" style="margin-left: 100px;">
            <a class="nav-text-size nav-link btn btn-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user"></i>&emsp; @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-text-size nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>