﻿@model BiiMoInc.Models.View.Product.Edit

@{
    ViewData["Title"] = "Edit: Product";
}
<link scoped href="~/css/customcreatecard.css" rel="stylesheet" />
<div class="request-access-form">

    <div class="card card-create card-container">
        <div class="card-header create-card-header center">
            <h1>Edit</h1>
            <hr />
        </div>
        <div class="card-body">
            <div class="input-container row">
                <div class="input-icon-position col-sm-1"><i class="fas fa-box  fa-2x"></i></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @placeholder = "Product Description", @class = "form-control create-input-form" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row">
                        <label padding-left: 44px; class="col-5 float-lg-right">Product Image</label>
                        <input id="fileUpload" type="file" class="form-control-file col-6">
                    </div>

                    <div class="form-group btn-container">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
            </div>

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    let fileUploader = $("#fileUpload");
    //TODO:Add functionality to directly save uploaded files
</script>

