﻿@model BiiMoInc.Models.View.Product.Index

@{
    ViewData["Title"] = "Products";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

    <table id="gridTable" class="table table-striped table-bordered cell-border stripe" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disabled)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.Raw(item.Disabled ? "No" : "Yes")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                        @if (!item.Disabled)
                        {
                            @Html.ActionLink("Deactivate", "ChangeStatus", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Activate", "ChangeStatus", new { id = item.Id })
                        }*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section Scripts{

        <script>
            $(function () {
                $("#gridTable").DataTable({
                    "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [2]
                    }]
                });

            });
        </script>
    }
