﻿@model BiiMoInc.Models.View.Supplier.Create

@{
    ViewData["Title"] = "Create: Supplier ";
}
<link scoped href="~/css/customcreatecard.css" rel="stylesheet" />
<div class="request-access-form">

    <div class="card card-create card-container">
        <div class="card-header create-card-header center">
            <h1>Create</h1>
            <hr />
        </div>
        <div class="card-body">
            <div class="input-container row">
                <div class="input-icon-position col-sm-1"><i class="fas fa-truck fa-2x"></i></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder="Supplier Name", @class = "form-control create-input-form" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group btn-container">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
            </div>

        </div>
    </div>
</div>


