﻿@model BiiMoInc.Models.View.Supplier.Edit

@{
    ViewData["Title"] = "Edit: Supplier ";
}
<link scoped href="~/css/customcreatecard.css" rel="stylesheet" />
<div class="request-access-form">

    <div class="card card-create card-container">
        <div class="card-header create-card-header center">
            <h1>Edit</h1>
            <hr />
        </div>
        <div class="card-body">
            <div class="input-container row">
                <div class="input-icon-position col-sm-1"><i class="fas fa-truck fa-2x"></i></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id);
                    <div class="form-group">
                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Supplier Name", @class = "form-control create-input-form" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11">
                            @Html.Label("", "", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.HiddenFor(model => model.Disabled, new { id = "disable-supplier" })
                            <div class="btn-group col-md-8" data-toggle="buttons">
                                <label class="btn btn-primary active" id="enable-supplier">
                                    @Html.RadioButton("Enable", true, new { id = "enable-supplier-button" }) Enable
                                </label>
                                &emsp;
                                <label class="btn btn-primary" id="disable-supplier">
                                    @Html.RadioButton("Disable", false, new { id = "disable-supplier-button" }) Disable
                                </label>
                            </div>

                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group btn-container">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("label#enable-supplier,label#disable-supplier").change(function () {
            let state = $(this).val;
            console.log(state);
            if (state) {
                $("#disable-supplier").val(true);
                return;
            }
            $("#disable-supplier").val(false);

        });

    });
</script>