﻿@model BiiMoInc.Models.View.Supplier.Index

@{
    ViewData["Title"] = "Suppliers";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="gridTable" class="table table-striped table-bordered cell-border stripe" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disabled)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Suppliers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.Raw(item.Disabled ? "No" : "Yes")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                    @if (!item.Disabled)
                    {
                        @Html.ActionLink("Deactivate", "ChangeStatus", "Suppliers", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "ChangeStatus", "Suppliers", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        $(function () {
            $("#gridTable").DataTable({
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [2]
                }]
            });

        });
    </script>
}
